<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../favicon.ico" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/details">Detalles de usuario</a>
      <a class="nav-item nav-link" routerLink="/login">Iniciar Sesión</a>
    </div>
  </div>
</nav>