<app-navbar></app-navbar>

<div>
  <ng-template [ngIf] = "ruta != undefined">                      
      <table class="sombra">
        <tr> 
          <td class="titulo" colspan="2">{{ruta.nombre}}</td>
        </tr>
        <tr>
          <td class="imagen">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of ruta.fotos">
                <div class="picsum-img-wrapper">
                  <img [src]="image.url" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                  <h3>{{image.nombre}}</h3>
                </div>
              </ng-template>
            </ngb-carousel>
          </td>
          <td class="info" rowspan="2">
            <div class="datos">{{ruta.descripcion}}</div>
            <br>
            <div class="datos">
              <span>Longitud : &nbsp;</span>
              {{ruta.distancia}} Km
              <br>
              <span>Dificultad : &nbsp;</span>
              <br>
              <span>Valoración : &nbsp;</span>
              {{ruta.valoracion}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Formuluario
          </td>
        </tr>
        <tr>
          <td class="comentarios">
            <p class="title">Comentarios</p>
            <div class="scrollbar scrollbar-primary">
              <div class="force-overflow">
                <div *ngFor = "let comentario of ruta.comentarios">
                  <p class="comentario">"{{comentario.comentario}}" ~ {{comentario.nickname}}</p>
                </div>
              </div>
              
            </div>

            <!-- <div *ngFor = "let comentario of ruta.comentarios">
              <p class="comentario">"{{comentario.comentario}}" ~ {{comentario.nickname}}</p>
            </div> -->
            
          </td>
          <td class="botones">
            <div class="boton" *ngIf = "user.tipo == 'GESTOR' || user._id == ruta.creador">
              <app-modalmodificar-ruta [ruta]="ruta"></app-modalmodificar-ruta>
            </div>
            <div class="boton"><button type="button">Contratar monitor</button></div>
            <div class="boton"><button type="button">Proponer expedición</button></div>
          </td>
        </tr>
      </table>
  </ng-template>
</div>