<app-navbar></app-navbar>

<div>
  <ng-template [ngIf] = "ruta != undefined">                      
      <table class="sombra">
        <tr> 
          <td class="titulo" colspan="2">{{ruta.nombre}}</td>
        </tr>
        <tr>
          <td class="imagen">
            <app-mapa-detalle [ruta]="ruta"></app-mapa-detalle>
          </td>
          <td class="info">
            <div class="datos">{{ruta.descripcion}}</div>
            <br>
            <div class="datos">
              <span>Longitud : &nbsp;</span>
              {{ruta.distancia}} Km
              <br>
              <span>Dificultad : &nbsp;</span>
              <br>
              <span>Valoración : &nbsp;</span>
              {{ruta.valoracion}}
            </div>
          </td>
        </tr>
        <tr>
          <td class="comentarios">Comentarios y demas</td>
          <td class="botones">
            <div class="boton" *ngIf = "user.tipo == 'GESTOR' || user._id == ruta.creador">
              <app-modalmodificar-ruta [ruta]="ruta"></app-modalmodificar-ruta>
            </div>
            <div class="boton"><button type="button">Contratar monitor</button></div>
            <div class="boton"><button type="button">Proponer expedición</button></div>
          </td>
        </tr>
      </table>
  </ng-template>
</div>