table {
  width: 70%;
  margin: 50px auto;
  background-color: #666;
}

td {
  width: 50%;
}

td.titulo {
  text-align: center;
  font-variant-caps: small-caps;
  font-size: xxx-large;
  font-kerning: none;
  font-family: sans-serif;
  background: #ffb95e;
}

td.imagen {
  text-align: center;
  padding: 20px;
}

td.info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  background: #232530;
  /* border:2px solid rgb(214, 214, 214); */
  border-radius: 15px;
  color: white;
}

td.comentarios {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  color: white;
}

td.botones {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

div.boton {
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  border-radius: 15px;
  border: 2px solid #ffb95e;
  width: 250px;
  height: 50px;
  background-color: #666;
  color: #ffb95e;
}
button:hover {
  border: 2px solid #ffb95e;
  background-color: #ffb95e;
  color: #ffffff;
}
