<h2>PERFIL</h2>

<div *ngIf="senderista != undefined; else noSenderista">

    <div><span>Nombre: </span>{{senderista.nombre}}</div>
    <div><span>Apellidos: </span>{{senderista.apellido}}</div>
    <div><span>Correo: </span>{{senderista.correo}}</div>
    <div><span>Usuario: </span>{{senderista.nickname}}</div>
    <div><span>Contraseña: </span>{{senderista.contrasenya}}</div>
    <div><span>Descripción: </span>{{senderista.descripcion}}</div>
    <div><span>Foto Perfil: </span>{{senderista.fotoPerfil}}</div>
    <div><span>Fecha Creación: </span>{{senderista.fechaCreacion}}</div>
    <div>
        <app-modalmodificar-senderista [senderista]="senderista"></app-modalmodificar-senderista>
        <app-modal-eliminar-senderista [senderista]="senderista"></app-modal-eliminar-senderista>
    </div>
</div>
</ng-template>

<ng-template #noSenderista>
    <br>
    <br>
    <h3 style="text-align: center;">
      Cargando...
    </h3>
</ng-template>

</div>