<app-navbar></app-navbar>
<div *ngIf="user.tipo!=null && user.tipo=='SENDERISTA' || user.tipo!=null && user.tipo=='GESTOR'">
  <div style="width: 110em; height: 20em; margin: 0 auto; margin-top: 50px;">
    <div style="height: 1084px;" class="container contenedor content sombra">
      <div class="content-1 sombra" style="margin: 0 auto; color:white; background-color: #232530 !important; width: 90%; padding: 30px; border-radius: 10px;">
      
    <form  [formGroup]="miFormulario">
      Nombre <input
        [class.is-invalid]="miFormulario.get('nombre').touched && miFormulario.get('nombre').invalid" type="text"
        class="form-control" placeholder="Introduce tu nombre" formControlName="nombre">

      Descripción <input
      [class.is-invalid]="miFormulario.get('descripcion').touched && miFormulario.get('descripcion').invalid" type="text"
      class="form-control" placeholder="Breve descripcion de la ruta" formControlName="descripcion">
      
      Coordenadas
      <div style="width: fit-content; height: fit-content; border: solid #ff8800 3px; margin-left: 43px;">
      <app-mapa-ruta [ruta]="ruta"></app-mapa-ruta>
      </div>
      
      <div style="text-align: center; width: 100%;">
        <br>
      Circular <input
        type="checkbox" class="checkbox-inline" formControlName="circular" value=true>
      </div>

      <br>
      Dificultad<select
      [class.is-invalid]="miFormulario.get('dificultad').touched && miFormulario.get('dificultad').invalid"
      class="form-control" placeholder="Seleccione dificultad" formControlName="dificultad">
        <option value="Fácil">Fácil</option>
        <option value="Media">Media</option>
        <option value="Difícil">Difícil</option>
      </select>

      Provincia<select
      [class.is-invalid]="miFormulario.get('provincia').touched && miFormulario.get('provincia').invalid"
      class="form-control" placeholder="Seleccione provincia" formControlName="provincia">
        <option value="castellon">Castellón</option>
        <option value="valencia">Valencia</option>
        <option value="alicante">Alicante</option>
      </select>
      <br>

      <div *ngIf="user.tipo!=null && user.tipo=='SENDERISTA'">
        <button style="border-radius: 10px; width: 250px; float: right;" type="submit" (click)="proponerRuta()">Proponer</button>
      </div>
      <div *ngIf="user.tipo!=null && user.tipo=='GESTOR'">
        <button style="border-radius: 10px; width: 250px; float: right;" type="submit" (click)="crearRuta()">Crear</button>
      </div>
      
      <button style="border-radius: 10px; width: 250px;" type="button" class="cancelbtn" routerLink="/">Cancelar</button>
      <div class="invalid-feedback">{{data}}</div>
    </form>
    </div>
    </div>
  </div>
</div>
