<app-navbar></app-navbar>
<div *ngIf="user.tipo!=null && user.tipo=='SENDERISTA'">
    <div class="container" [formGroup]="miFormulario">
    <from>
      Nombre <input
        [class.is-invalid]="miFormulario.get('nombre').touched && miFormulario.get('nombre').invalid" type="text"
        class="form-control" placeholder="Introduce tu nombre" formControlName="nombre">

      Distancia <input
        [class.is-invalid]="miFormulario.get('distancia').touched && miFormulario.get('distancia').invalid" type="text"
        class="form-control" placeholder="Distancia en KM" formControlName="distancia">

      Descripción <input
      [class.is-invalid]="miFormulario.get('descripcion').touched && miFormulario.get('descripcion').invalid" type="text"
      class="form-control" placeholder="Breve descripcion de la ruta" formControlName="descripcion">

      Circular <input
        [class.is-invalid]="miFormulario.get('circular').touched && miFormulario.get('circular').invalid"
        type="checkbox" class="form-control" placeholder="¿Es una ruta circular?" formControlName="circular">

      <button type="submit" (click)="proponerRuta()">Registrarse</button>
      <button type="button" class="cancelbtn" routerLink="/">Cancelar</button>
      <div class="invalid-feedback">{{data}}</div>
    </from>
  </div>
</div>
