<h2>PERFIL</h2>
<!-- <div *ngIf="gestor != undefined"> -->

  <div><span>Nombre: </span>{{gestor.nombre}}</div>
  <div><span>Apellidos: </span>{{gestor.apellido}}</div>
  <div><span>DNI: </span>{{gestor.dni}}</div>
  <div><span>Correo: </span>{{gestor.correo}}</div>
  <div><span>Usuario: </span>{{gestor.nickname}}</div>
  <div><span>Contraseña: </span>{{gestor.contrasenya}}</div>
  <div><span>Descripción: </span>{{gestor.descripcion}}</div>
  <div><span>Fecha Creación: </span>{{gestor.fechaCreacion}}</div>
  
<!-- </div> -->

<!-- <app-modalmodificar-gestor [gestor]="gestor"></app-modalmodificar-gestor> -->

