<div *ngIf="user.tipo=='USUARIO' || user.tipo==null">
  <div class="container" [formGroup]="miFormulario">
    <from>
      Nombre de usuario <input
        [class.is-invalid]="miFormulario.get('nickname').touched && miFormulario.get('nickname').invalid" type="text"
        class="form-control" placeholder="Introduce tu nickname" formControlName="nickname">


      Contraseña <input
        [class.is-invalid]="miFormulario.get('password').touched && miFormulario.get('password').invalid"
        type="password" class="form-control" placeholder="Introduce tu contraseña" formControlName="password">

        <label class="checkbox-inline"><input type="checkbox" value="" formControlName="soyGestor"> Soy Gestor</label>

      <button type="submit" (click)="getUser()">Iniciar sesión</button>
      <button type="button" class="cancelbtn" routerLink="/">Cancelar</button>
      <div class="invalid-feedback">{{data}}</div>
    </from>
  </div>
</div>

<div *ngIf="user.tipo!='USUARIO' && user.tipo!=null">
  <div class="container-fluid bg-3 text-center">
    <h3>Has iniciado sesión como</h3>
    <p>{{user.nickname}}</p>
  </div>
</div>